*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/*********************** Index ****************************/

.index{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 44vw;
}

.title-gen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-decoration: underline;
    margin-bottom: 50px;
    font-size: 2.5em;
    text-align: center;
}

.separa-choice{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.choice p{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.choice:hover{
    transform: scale(1.1);
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.more{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.two-choice{
    animation-name: rile;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes rile{
    0%{
        transform: translateX(80px);
    }

    100%{
        transform: translateX(-80px);
    }
}

.you-choice{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 90%;
    text-align: center;
}

.note{
    width: 90%;
}

/*********************** Index ****************************/

.diviseur-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rapport-gen{
    text-align: center;
}

header, footer{
  
    display: flex;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 100%;
}

header{
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 20;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 100%;
}

.nav-list{
    position: absolute;
    background-color: black;
    width: 100%;
    display: none;
    padding-bottom: 5px;
    z-index: 20;
}

.toggle{
    cursor: pointer;
}

.toggle .fa-bars{
    margin-right: 20px;
    color: whITE;
    font-size: 2rem;
}

.return2 p{
   margin-left: 10px;
}

footer{
    margin-top: 50px;
    justify-content: space-evenly;
}

header a:first-of-type{
    margin-left: 10px;
}

header .ext:last-of-type{
    margin-right: 10px;
}

header ul{
    display: flex;
}

header ul li{
    list-style-type: none;
}

li:hover a{
    color: rgb(174, 0, 255);
}

a:hover{
    color: rgb(174, 0, 255);
}

a{
    transition: color 0.3s;
    text-decoration: none;
    color: white;
}


.rapport-gen img, .rapport-gen h2, .ptt{
    border: 1px solid black;
    box-shadow: gray 0px 0px 8px;
}

.rapport-gen h2, .ptt, .rapport-gen img{
    margin-top: 10px;
    padding: 2px 10px 2px 10px;
    width: 40vw;
}

.ptt{
    padding: 10px;
}

.return{
    position: absolute;
    left: 10px;
}

.return p{
    margin-left: 5px;
}

.vert{
    color: rgb(0, 209, 0);
}

.orange{
    color: orange;
}

.rapport-gen ul{
    text-align: left;
    padding: 0 0 0 20px;
}

.rapport-gen .no{
    list-style-type: "\274C";
    padding-left: 5px;
}

.rapport-gen .yes{
    list-style-type: "\2705";
    padding-left: 5px;
}

.blue{
    color: rgb(174, 0, 255);
    font-style: normal;
}

.note{
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
}

.mobile-act{
    display: none;
}

@media screen and (max-width: 1200px) {

    .title-gen{
        padding: 0 30px;
        font-size: 30px;
    }

    .choice p{
        font-size: 1em;
    }

    .you-choice{
        font-size: 19px;
    }
    
    .note{
        font-size: 14px;
    }

    a{
        text-align: center;
    }

    .desktop-act{
        display: none;
    }

    .mobile-act{
        display: block;
    }
    
}

@media screen and (max-width: 900px) {

    .array{
        margin: 20px 0;
        transform: rotate(90deg);
    }

    .diviseur-img{
        flex-direction: column;
    }

    .rapport-gen h2, .ptt, .rapport-gen img{
        width: 80vw;
    }

    footer{
        height: 100%;
        padding: 10px 15px;
        flex-direction: column;
    }

}   

@media screen and (max-width: 700px) {

    .separa-choice{
        flex-direction: column;
    }

    .choice{
        transform: scale(1.2);
    }

    .separa-choice .choice:first-child{
        transform-origin: bottom center;
        margin-bottom: 50px;
    }

    .separa-choice .choice:last-child{
        transform-origin: top center;
    }
    
}

@media screen and (max-width: 500px) {
    .choice{
        transform: scale(1.4);
    }
}
